{% extends "navbar_customer.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<style>
/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #888;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
</style>
<!--    <body>-->
        <div class = "head" data-aos = "fade-down" data-aos-duration = "700">
            <h1>Search By Genre</h1>
        </div><br>
        <div class = "subjects" data-aos = "fade-up" data-aos-duration = "700"><br>
            <p class = "tbnames" id = "science">Science Fiction</p><br>
            <p id = "ScienceFiction">
                {%for book in science %}
                <img class = "img-container" src = "{{ book.Cover_image }}" data-details="{{ book.book_data }}">
                {% endfor %}
            </p>
        </div><br>
        <div class = "subjects" data-aos = "fade-up" data-aos-duration = "700">
            <p class = "tbnames" id = "thriller">Thriller</p><br>
            <p id = "ThrillerBooks">
                {%for book in thriller %}
                <img class = "img-container" src = "{{ book.Cover_image }}" data-details="{{ book.book_data }}">
                {% endfor %}
            </p>
        </div><br>
        <div class = "subjects" data-aos = "fade-up" data-aos-duration = "700">
            <p class = "tbnames" id = "fantasy">Fantasy</p><br>
            <p id = "FantasyBooks">
                {%for book in fantasy %}
                <img class = "img-container" src = "{{ book.Cover_image }}" data-details="{{ book.book_data }}">
                {% endfor %}
        </div><br>
        <div class = "subjects" data-aos = "fade-up" data-aos-duration = "700">
            <p class = "tbnames" id = "mystery">Mystery</p><br>
            <p id = "MysteryBooks">
                {%for book in mystery %}
                <img class = "img-container" src = "{{ book.Cover_image }}" data-details="{{ book.book_data }}">
                {% endfor %}
        </div><br>
        <div class = "subjects" data-aos = "fade-up" data-aos-duration = "700">
            <p class = "tbnames" id = "dystopian">Dystopian</p><br>
            <p id = "DystopianBooks">
                {%for book in dystopian %}
                <img class = "img-container" src = "{{ book.Cover_image }}" data-details="{{ book.book_data }}">
                {% endfor %}
        </div><br>
        <div class = "subjects" data-aos = "fade-up" data-aos-duration = "700">
            <p class = "tbnames" id = "humor">Humor</p><br>
            <p id = "HumorBooks">
                {%for book in humor %}
                <img class = "img-container" src = "{{ book.Cover_image }}" data-details="{{ book.book_data }}">
                {% endfor %}
        </div><br>
        <div class = "subjects" data-aos = "fade-up" data-aos-duration = "700">
            <p class = "tbnames" id = "historical">Historical Fiction</p><br>
            <p id = "HistoricalFiction">
                {%for book in historical %}
                <img class = "img-container" src = "{{ book.Cover_image }}" data-details="{{ book.book_data }}">
                {% endfor %}
        </div><br>
        <div class = "subjects" data-aos = "fade-up" data-aos-duration = "700">
            <p class = "tbnames" id = "romance">Romance</p><br>
            <p id = "RomanceBooks">
                {% for book in romance %}
                <img class = "img-container" src = "{{ book.Cover_image }}" data-details="{{ book.book_data }}">
                {% endfor %}
        </div><br>
        <div class = "subjects" data-aos = "fade-up" data-aos-duration = "700">
            <p class = "tbnames" id = "horror">Horror</p><br>
            <p id = "HorrorBooks">
                {% for book in horror %}
                <img class = "img-container" src = "{{ book.Cover_image }}" data-details="{{ book.book_data }}">
                {% endfor %}
        </div><br>
        <div class = "subjects" data-aos = "fade-up" data-aos-duration = "700">
            <p class = "tbnames" id = "paranormal">Paranormal</p><br>
            <p id = "ParanormalBooks">
                {%for book in paranormal %}
                <img class = "img-container" src = "{{ book.Cover_image }}" data-details="{{ book.book_data }}">
                {% endfor %}
        </div><br>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>AOS.init();</script>
<script>

    const images = document.querySelectorAll('.img-container');
      images.forEach(image => {
        image.addEventListener('click', () => {
          var details = image.getAttribute('data-details');
          var parsedDetails = JSON.parse(details);
          displayDetails(parsedDetails);
        });
      });

  function displayDetails(book) {

    const modal = document.createElement('div');
    modal.classList.add('modal');

    const modalContent = document.createElement('div');
    modalContent.classList.add('modal-content');

    const closeBtn = document.createElement('span');
    closeBtn.classList.add('close');
    closeBtn.innerHTML = '&times;';
    closeBtn.addEventListener('click', () => {
      modal.style.display = 'none';
      modal.remove(); // Remove the modal element from the DOM when closed
    });

    // Concatenate book details into a single string
    const detailsText = `
      <div style="display: flex; align-items: center;">
        <div style="flex: 1;">
          <h2 style="font-weight: bold;">${book.Title}</h2>
          <p id="isbn">ISBN: ${book.ISBN}</p>
          <p>Price: ${book.Price}</p>
          <p>In Stock: ${book.QTY === '0' ? 'Out of Stock' : book.QTY}</p>
          <p>Page Count: ${book.Page_count}</p>
          <p>Author: ${book.Author}</p>
          <p>Description: ${book.Description}</p>
          <!-- Add more details as needed -->
          ${book.QTY !== '0' ? `
            <div>
              <input type="number" style="height: 30px;" id="quantity" name="quantity" min="1" max="${book.QTY}" value="1">
              <button style="width: 200px; height: auto;" onclick="addToCart()" id="addToCartButton" ${book.QTY === '0' ? 'disabled' : ''}>Add to Cart</button>
            </div>
          ` : ''}
        </div>
        <div style="padding-right:10px;">
          <img src="${book.Cover_image}" alt="Cover Image" style="max-width: 200px; max-height: 200px;">
        </div>
      </div>
    `;

    modalContent.innerHTML = detailsText;
    modalContent.appendChild(closeBtn);
    modal.appendChild(modalContent);

    document.body.appendChild(modal);

    modal.style.display = 'block';

    // Set detailsText to the detailsContainer
<!--    document.getElementById("detailsContainer").innerHTML = detailsText;-->

    // Add event listener for the "Add to Cart" button
    document.getElementById("addToCartButton").addEventListener("click", addToCart);

    function addToCart() {
        // Get the quantity selected by the user
        const isbn = document.getElementById("isbn").textContent;
        const quantity = parseInt(document.getElementById("quantity").value);
        console.log("isbn" + isbn + "quantity"+ quantity)
        fetch('/api/customer/add_to_cart', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: new URLSearchParams({
          'isbn': isbn,
          'qty': quantity
        })
      })
      .then(response => {
        console.log(response)
        if (!response.ok) {
          console.log(response)
          if (response.text() === "Item Already in Cart"){
            alert("Item Already in Cart");
          }else{
            throw new Error('Failed to add to cart');
          }
        }
        document.getElementById('addToCartButton').disabled = true;
        document.getElementById('quantity').disabled = true;
        alert('Item added to cart!');
      })
      .catch(error => {
        console.error(error);
        alert('Failed to add item to cart');
      });
    }
  }
</script>

<!--    </body>-->
<!--</html>-->
{% endblock %}
